.viewsIndex{
    margin: 0 auto;
    text-align: center;
}
.fonts{
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5em;
    color: black;
}
.jumbotron{
    background-color: #eddd86;
}
.textAreaClass{
    text-align: left;
    width: 80%;
    height: 8em;
    margin: 1em auto;
    margin-bottom: 2em;
    resize: none;
}
.textTitleClass{
    width: 70%;
    margin: 0 auto;
}